body{
 background-color: steelgray;
}
input {
            display: block;
            margin: 10px 0;
            padding: 8px;
        }
        .dziala {
            border: 2px solid green;
        }
        .niedziala{
            border: 2px solid red;
        }
        #wynik {
            display: none;
            margin-top: 20px;
        }
        .formu{
            background-color: greenyellow;
            width: 20%;
            margin: 0 auto;
        }
        #formularz{
            border-radius: 1.4vh;
            box-shadow: 5px 5px 10px rgb(255, 0, 200);
        }
        form{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 500px;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        .data{
            width:94.5%;
        }
